body {
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    color: #434455;
}

header {
    background-color: #E7E9FC;
    line-height: 60px;
}

.header-logo {
    font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4D5AE5;
        text-decoration: none;
        text-transform: uppercase;
}

.logo-header-text {
    font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        color: #2E2F42;
        width: 44px; height: 21px;
}

.nav-list{
    list-style-type: none;
}

.nav-links-list-content {
        text-decoration: none;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.nav-links-list-content:hover {
    color: #404bbf;
}
.nav-links-list-content:focus {
    color: #404bbf;
}

.nav-links-list-content:active {
    color: #404bbf;
}

.address-style {
    font-style: normal;
}

.address-links-list {
    list-style-type: none;
}

.address-links-list-content{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
}

.address-links-list-content:hover {
    color: #404bbf;
}

.address-links-list-content:focus {
    color: #404bbf;
}

.section-offer {
    background-color: #2E2F42;
}

.header1-text {
    color: #FFFFFF;
        font-family: Roboto, sans-serif;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
}

.button-style {
    cursor: pointer;
     background-color: #4D5AE5;
     color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;
}

.button-style:hover,
.button-style:focus {
    background-color: #404BBF;
}
